<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="put your image url" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold text-body-emphasis">About US</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, corporis sint officia, nobis rerum eum nam quia similique ex quibusdam praesentium maiores beatae dolores commodi. Accusamus totam repellat hic temporibus.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button routerLink="/main/contact" type="button" class="btn btn-primary btn-lg px-4 gap-3">Contact Form</button>
      <button routerLink="/main/" type="button" class="btn btn-outline-secondary btn-lg px-4">Home</button>
    </div>
  </div>
</div>
