<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h2>Contact form</h2>
    </div>

    <div class="row g-5">

      <div class="col-md-7 col-lg-8 mx-auto">
        <form [formGroup]="contactForm" class="needs-validation" >
          <div class="row g-3">
            <div class="col-sm-12">
              <label for="firstName" class="form-label">Name</label>
              <input formControlName="name" type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              <div *ngIf="contactForm.controls['name'].hasError('invalidName')" class="text-danger">
                Valid first name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control" id="email" placeholder="you@example.com">
              <div *ngIf="contactForm.controls['email'].hasError('email')" class="text-danger">
                Please enter a valid email address.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" formControlName="address" class="form-control" id="address" placeholder="1234 Main St" required="">
              <div *ngIf="contactForm.controls['address'].hasError('invalidName')" class="text-danger">
                Please enter valid address.
              </div>
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Phone</label>
              <input type="text" formControlName="phone" class="form-control" id="address" placeholder="+65 8787 6564" required="">
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-7">
              <label for="zip" class="form-label">Comment</label>
              <textarea formControlName="comment" class="form-control" id="zip" placeholder="" required=""></textarea>
              <div *ngIf="contactForm.controls['comment'].hasError('invalidName')" class="text-danger">
                Invalid character
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button (click)="submit()" class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </main>
</div>
